* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  min-height: 30px;
  padding: 0 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  max-width: 500px;
  margin: 0 auto;
}

.post,
.posts-form {
  margin: 15px;
  padding: 15px;
  border: 1px solid #eee;
}

.posts-form .btn {
  margin-left: 15px;
}

.posts-form__btn {
  margin-left: 15px;
}

.post__buttons {
  margin-top: 15px;
}

.post__buttons .btn + .btn {
  margin-left: 15px;
}

.btn {
  min-width: 120px;
  min-height: 30px;
}